@model string[]
    <ul class="nav nav-tabs">
        @foreach (var item in Model)
        {
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="javascript:ShowForm('@item')">@item</a>
            </li>
        }

       
    </ul>
