@model toDoList_project.Model.Task[]
@{
    Layout = null;
}

<ul>
    @foreach (var task in Model)
    {
        <li>@task.Name @task.TaskDate</li>
    } 
</ul>
<a asp-controller="task" asp-action="create">Add a Task</a>
