@model toDoList_project.Model.Todo[]
@{ 
    Layout = null;
}

    <ul>
        @foreach (var item in Model)
        {
            var days = item.TaskDate.Day - DateTime.Today.Day;
            if (days== 1 && days!= 0 && DateTime.Now.Year == item.TaskDate.Year && DateTime.Now.Month == item.TaskDate.Month)
            {
                <li>@item.Name @item.TaskDate</li>

            }

        }
    </ul>