@*@model toDoList_project.Model.Todo[]*@

<div class="container">
    <div class="col-sm">
        <div class="col-sm">
            <div id="_calender"></div>
        </div>
    </div>
</div>




@*<div class="jumbotron">
        <h1 class="display-3">Tommorow</h1>
        <div id="_list"></div>
        <hr class="my-4">
        <p> <div id="_calender"></div></p>
        <p class="lead">

        </p>
    </div>*@


