@model toDoList_project.Model.Calender[]
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/minty-bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/TaskStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <div class="grid-container">
        <div class="grid-item">Mon</div>
        <div class="grid-item">Tue</div>
        <div class="grid-item">Wed</div>
        <div class="grid-item">Thu</div>
        <div class="grid-item">Fri</div>
        <div class="grid-item">Sat</div>
        <div class="grid-item">Sun</div>
        @foreach (var day in Model)
        {
            @if (day.EmptyDay)
            {
                <div class="grid-item"></div>
            }
            else
            {
                <div class="grid-item"> @day.Day.Day</div>

            }




        }
    </div>
</body>
</html>