@model toDoList_project.Model.ViewModel.CreateVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/minty-bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/TaskStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <div class="form-group" style="padding-left:200px">
        <form asp-controller="task" asp-action="create">
            <label style="display:none" asp-for="Name"></label>
            <input asp-for="Name" placeholder="New Task..." />
            <span asp-validation-for="Name"></span>

            <label style="display:none" asp-for="Description"></label>
            <input asp-for="Description" placeholder="description..." />
            <span asp-validation-for="Description"></span>
            <label style="display:none" asp-for="TaskDate"></label>
            <input asp-for="TaskDate" />
            <label style="display:none" asp-for="Cathegory"></label>
            <input asp-for="Cathegory" placeholder="Cathegory..." />
            <span asp-validation-for="Cathegory"></span>
            <label style="display:none" asp-for="isImportant"></label>
            <input asp-for="isImportant" placeholder="Remind me" />
            <span asp-validation-for="isImportant"></span>
            <input type="submit" value="Add" />
        </form>
    </div>
    <div class="Nav" id="CatNavBar"></div>
    <div id="list"></div>
</body>
</html>

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}

