@model toDoList_project.Model.Todo

@{
    Layout = null;
}

    
        <form asp-action="Edit" style="margin: 0; padding: 0;">
            <p>

                <input style="display: inline;" asp-for="Name" placeholder="Task..." />
                <input style="display: inline;" asp-for="Description" placeholder="Description..." />
                <input style="display: inline;" asp-for="TaskDate" placeholder="Date..." />
                <input style="display: inline;" asp-for="Cathegory" placeholder="Cathegory..." />
                <input id="important" style="display: inline;" asp-for="isImportant" placeholder="Remind me..." />
                <input id="reminder" style="visibility:visible" asp-for="Reminder" placeholder="Remind me" />
                <input type="submit" value="Save" style="display:inline" />
            </p>
        </form>
    

