.container{
    margin:50px
}
#Delete {
    margin: 50px;
    border:solid,10px;
    border-color:orangered
}
.Edit {
    margin: 50px
}
.close {
    float:right;
    right: 0;
    top: 0;
    padding: 10px 14px 10px 14px;
    border-radius:4px
}

    .close:hover {
        background-color: #f44336;
        cursor: pointer;
        color: white;
    }

/*.checked {
   
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
}*/
/* When clicked on, add a background color and strike out text */
.list{
    float:right;
}

/*Calender*/
.grid-container {
    margin:50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

    
