.container{
    margin:50px
}
.Delete {
    margin: 50px
}
.Edit {
    margin: 50px
}
.close {
    float:right;
    right: 0;
    top: 0;
    padding: 10px 14px 10px 14px;
    border-radius:4px
}

    .close:hover {
        background-color: #f44336;
        cursor: pointer;
        color: white;
    }

/*.checked {
   
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
}*/
/* When clicked on, add a background color and strike out text */
.list{
    float:right;
}

    
