.container{
    margin:50px
}
#Delete {
    margin: 50px;
    border:solid,10px;
    border-color:orangered
}
.Edit {
    margin: 50px
}
.close {
    float:right;
    right: 0;
    top: 0;
    padding: 10px 14px 10px 14px;
    border-radius:4px
}

    .close:hover {
        background-color: #f44336;
        cursor: pointer;
        color: white;
    }

/*.checked {
   
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
}*/
/* When clicked on, add a background color and strike out text */
.list{
    float:right;
}

/*Calender*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #FFD300;
    padding: 10px;
    /*border-radius:20px;*/
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.5px solid;
    border-color: white;
    border-radius: 1px;
    padding: 30px;
    font-size: 15px;
    text-align: start;
}
#Deadline{
    float:right;
    position:absolute;
}
.Nav{
    padding-left:200px;
}
#_calender {
   float:left;
   padding-left:100px;
   padding-right:500px;
   padding-bottom:100px;

}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    
